body,
html {
  height: 100%;
  margin: 0;
  padding: 0%;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin: 10px;
  text-shadow: 2px 2px #000;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

.exclusions {
  font-family: italic;
  font-size: 8pt;
  letter-spacing: 1px;
  text-shadow: none;
  font-style: italic;
}

.hero-image {
  background-image: url("logo.jpg");
  height: 200%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background: size 100px;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -85%);
  color:rgb(133, 10, 10);
}

.hero-exclusions {
  position: fixed;
  text-align: center;
  top: 50%;
  left: 45%;
  transform: translate(-30%, -50%);
  color:black;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 10px;
  color:black;
  background-color:wheat;
  text-align: center;
  cursor: pointer;
  border: 5px solid rgb(16, 1, 26);
  margin-left: -1px;
  margin-top: 10%;
  font-size: 8pt;
  letter-spacing: 5px;
  font-weight:black;
  font-family: Geogia;
  font-syle:Geogia;
}

.hero-text button:hover {
  background-color:black;
  color: white;
  border: 5px solid rgb(133, 10, 10);
  text-shadow: 100px 100px red;
}

@media screen and (max-width: 700px) {
  .box {
    width: 70%;
    height: 0%;
  }
}

/* unvisited link */
a:link {
  color:tomato;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #fff;
}

/* mouse over link */
a:hover {
  color: #ccc;
  text-decoration: none;
}

/* selected link */
a:active {
  color:turquoise;
}